//Colors

$green400: hsl(180, 29%, 50%);
$green50: hsl(180, 52%, 96%);
$gray400: hsl(180, 8%, 52%);
$gray900: hsl(180, 14%, 20%);


//Fonts
$fontSize: 1.5rem;
$fontFamily: "League Spartan", sans-serif;
$font500: 500;
$font700: 700;


//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
